<main class="container">
  <div class="img-container">
    <img src="/perfil.png" alt="Foto de perfil" />

  </div>

  <div class="text-container">
    <h1>
      Hola <span class="emoji">👋🏼</span>, soy <span class="name">Joaquin Botta</span>.
    </h1>
    <p>
      Un futuro<span class="highlight">Ingeniero en sistemas</span> y <span class="highlight">desarrollador fullstack</span> ubicado en Argentina 🇦🇷
      <span class="emoji">📍</span>
    </p>
    <div class="tech-icons">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg" />
    </div>
    <div class="buttons">
      <a href="https://drive.google.com/file/d/1KtLPjI_ydIGHyYRNv4rWnDjyX14QTdf9/view?usp=sharing" class="btn primary" target="_blank">Mirá mi CV</a>
      <a href="mailto:bottajoaquinuni@gmail.com" class="btn secondary">Hablemos</a>
    </div>
    <div class="socials">
      <a href="https://linkedin.com/in/joaquinbotta" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" class="social-icon" />
      </a>
      <a href="https://github.com/joabotta" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/733/733553.png" alt="GitHub" class="social-icon" />
      </a>
      <a href="https://instagram.com/joabotta" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/174/174855.png" alt="Instagram" class="social-icon" />
      </a>
    </div>
    
    
  </div>
</main>
